adf/pipelines/pipeline1.json
{
    "id":  "/subscriptions/bc5c2887-eabd-4354-ba62-ade1a5b53b49/resourceGroups/rg-clinical-trial/providers/Microsoft.DataFactory/factories/adf-clinical-trial/pipelines/pipeline1",
    "name":  "pipeline1",
    "type":  "Microsoft.DataFactory/factories/pipelines",
    "properties":  {
                       "activities":  [
                                          {
                                              "name":  "LKP_GetTableList",
                                              "type":  "Lookup",
                                              "dependsOn":  {

                                                            },
                                              "policy":  {
                                                             "timeout":  "0.12:00:00",
                                                             "retry":  0,
                                                             "retryIntervalInSeconds":  30,
                                                             "secureOutput":  false,
                                                             "secureInput":  false
                                                         },
                                              "userProperties":  {

                                                                 },
                                              "typeProperties":  {
                                                                     "source":  {
                                                                                    "type":  "MySqlSource",
                                                                                    "query":  "SELECT\n    table_name,\n    primary_key_column,\n    load_type,\n    watermark_column,\n    last_watermark\nFROM pipeline_watermark_config\nWHERE is_active = TRUE\nORDER BY table_name;"
                                                                                },
                                                                     "dataset":  {
                                                                                     "referenceName":  "DS_MySQL_ClinicalTrial",
                                                                                     "type":  "DatasetReference",
                                                                                     "parameters":  {

                                                                                                    }
                                                                                 },
                                                                     "firstRowOnly":  false
                                                                 }
                                          },
                                          {
                                              "name":  "FE_LoopTables",
                                              "type":  "ForEach",
                                              "dependsOn":  {
                                                                "activity":  "LKP_GetTableList",
                                                                "dependencyConditions":  "Succeeded"
                                                            },
                                              "userProperties":  {

                                                                 },
                                              "typeProperties":  {
                                                                     "items":  {
                                                                                   "value":  "@activity(\u0027LKP_GetTableList\u0027).output.value",
                                                                                   "type":  "Expression"
                                                                               },
                                                                     "activities":  [
                                                                                        {
                                                                                            "name":  "CP_MySQLToADLS",
                                                                                            "type":  "Copy",
                                                                                            "dependsOn":  {

                                                                                                          },
                                                                                            "policy":  {
                                                                                                           "timeout":  "0.12:00:00",
                                                                                                           "retry":  0,
                                                                                                           "retryIntervalInSeconds":  30,
                                                                                                           "secureOutput":  false,
                                                                                                           "secureInput":  false
                                                                                                       },
                                                                                            "userProperties":  {

                                                                                                               },
                                                                                            "typeProperties":  {
                                                                                                                   "source":  {
                                                                                                                                  "type":  "MySqlSource",
                                                                                                                                  "query":  {
                                                                                                                                                "value":  "@if(\n    equals(item().load_type, \u0027full_reload\u0027),\n    concat(\u0027SELECT * FROM \u0027, item().table_name),\n    concat(\n        \u0027SELECT * FROM \u0027,\n        item().table_name,\n        \u0027 WHERE \u0027,\n        item().watermark_column,\n        \u0027 \u003e \u0027,\n        if(\n            empty(item().last_watermark),\n            \u0027\u0027\u00271900-01-01 00:00:00\u0027\u0027\u0027,\n            concat(\u0027\u0027\u0027\u0027, item().last_watermark, \u0027\u0027\u0027\u0027)\n        )\n    )\n)",
                                                                                                                                                "type":  "Expression"
                                                                                                                                            }
                                                                                                                              },
                                                                                                                   "sink":  {
                                                                                                                                "type":  "ParquetSink",
                                                                                                                                "storeSettings":  {
                                                                                                                                                      "type":  "AzureBlobFSWriteSettings"
                                                                                                                                                  },
                                                                                                                                "formatSettings":  {
                                                                                                                                                       "type":  "ParquetWriteSettings"
                                                                                                                                                   }
                                                                                                                            },
                                                                                                                   "enableStaging":  false,
                                                                                                                   "translator":  {
                                                                                                                                      "type":  "TabularTranslator",
                                                                                                                                      "typeConversion":  true,
                                                                                                                                      "typeConversionSettings":  {
                                                                                                                                                                     "allowDataTruncation":  true,
                                                                                                                                                                     "treatBooleanAsNumber":  false
                                                                                                                                                                 }
                                                                                                                                  }
                                                                                                               },
                                                                                            "inputs":  {
                                                                                                           "referenceName":  "DS_MySQL_ClinicalTrial",
                                                                                                           "type":  "DatasetReference",
                                                                                                           "parameters":  {

                                                                                                                          }
                                                                                                       },
                                                                                            "outputs":  {
                                                                                                            "referenceName":  "DS_ADLS_Bronze_Parquet",
                                                                                                            "type":  "DatasetReference",
                                                                                                            "parameters":  {
                                                                                                                               "tableName":  {
                                                                                                                                                 "value":  "@item().table_name",
                                                                                                                                                 "type":  "Expression"
                                                                                                                                             }
                                                                                                                           }
                                                                                                        }
                                                                                        },
                                                                                        {
                                                                                            "name":  "LKP_GetNewWatermark",
                                                                                            "type":  "Lookup",
                                                                                            "dependsOn":  {
                                                                                                              "activity":  "CP_MySQLToADLS",
                                                                                                              "dependencyConditions":  "Succeeded"
                                                                                                          },
                                                                                            "policy":  {
                                                                                                           "timeout":  "0.12:00:00",
                                                                                                           "retry":  0,
                                                                                                           "retryIntervalInSeconds":  30,
                                                                                                           "secureOutput":  false,
                                                                                                           "secureInput":  false
                                                                                                       },
                                                                                            "userProperties":  {

                                                                                                               },
                                                                                            "typeProperties":  {
                                                                                                                   "source":  {
                                                                                                                                  "type":  "MySqlSource",
                                                                                                                                  "query":  "@if(\n    equals(item().load_type, \u0027full_reload\u0027),\n    \u0027SELECT NULL AS new_watermark\u0027,\n    concat(\n        \u0027SELECT MAX(\u0027,\n        item().watermark_column,\n        \u0027) AS new_watermark FROM \u0027,\n        item().table_name\n    )\n)"
                                                                                                                              },
                                                                                                                   "dataset":  {
                                                                                                                                   "referenceName":  "DS_MySQL_ClinicalTrial",
                                                                                                                                   "type":  "DatasetReference",
                                                                                                                                   "parameters":  {

                                                                                                                                                  }
                                                                                                                               }
                                                                                                               }
                                                                                        },
                                                                                        {
                                                                                            "name":  "LKP_UpdateWatermark",
                                                                                            "type":  "Lookup",
                                                                                            "dependsOn":  {
                                                                                                              "activity":  "LKP_GetNewWatermark",
                                                                                                              "dependencyConditions":  "Succeeded"
                                                                                                          },
                                                                                            "policy":  {
                                                                                                           "timeout":  "0.12:00:00",
                                                                                                           "retry":  0,
                                                                                                           "retryIntervalInSeconds":  30,
                                                                                                           "secureOutput":  false,
                                                                                                           "secureInput":  false
                                                                                                       },
                                                                                            "userProperties":  {

                                                                                                               },
                                                                                            "typeProperties":  {
                                                                                                                   "source":  {
                                                                                                                                  "type":  "MySqlSource",
                                                                                                                                  "query":  {
                                                                                                                                                "value":  "@concat(\n\u0027CALL sp_update_pipeline_watermark(\u0027\u0027\u0027,\nitem().table_name,\n\u0027\u0027\u0027, \u0027,\nif(\n    equals(item().load_type,\u0027full_reload\u0027),\n    \u0027NULL\u0027,\n    concat(\n        \u0027\u0027\u0027\u0027,\n        activity(\u0027LKP_GetNewWatermark\u0027).output.firstRow.new_watermark,\n        \u0027\u0027\u0027\u0027\n    )\n),\n\u0027)\u0027\n)",
                                                                                                                                                "type":  "Expression"
                                                                                                                                            }
                                                                                                                              },
                                                                                                                   "dataset":  {
                                                                                                                                   "referenceName":  "DS_MySQL_ClinicalTrial",
                                                                                                                                   "type":  "DatasetReference",
                                                                                                                                   "parameters":  {

                                                                                                                                                  }
                                                                                                                               }
                                                                                                               }
                                                                                        }
                                                                                    ]
                                                                 }
                                          }
                                      ],
                       "policy":  {
                                      "elapsedTimeMetric":  {

                                                            }
                                  },
                       "annotations":  {

                                       },
                       "lastPublishTime":  "2026-06-26T09:25:34Z"
                   },
    "etag":  "0e00ddd6-0000-2000-0000-6a3e458e0000"
}